<div class="MakeItCenter" id="menu">
  <div class="line1 FlexSpaceInBetween">
    <div class="menu-item">
      <img src="assets/discount.svg">
      <h2>Promotions</h2>
    </div>
    <div class="menu-item">
      <img src="assets/scanner.svg">
      <h2>Scanner</h2>
    </div>
    <div class="menu-item">
      <img src="assets/store.svg">
      <h2>My store</h2>
    </div>
    <div class="menu-item">
      <img src="assets/calendar.svg">
      <h2>Booking</h2>
    </div>
  </div>
</div>

<div class="MakeItCenter" id="Middle Graphs">
  <div class="line2 MakeItFlex">
    <div class="graph1">
      <div class="FlexSpaceInBetween">
        <p>Total number of customers with sama membership</p>
        <button>view report</button>
      </div>
      <h3>IDR 7.852.000</h3>
      <p class="percent"><span id="green">2.1%</span> vs last week</p>
      <p>Sales from 1-12 Dec, 2020</p>
      <img src="assets/graph1.png" alt="">
    </div>
    <div class="graph3"></div>
    <div class="graph2">
      <p>Your rating</p>
      <p class="small">Lorem ipsum dolor sit amet, consectetur</p>
      <div class="circle2">
        <h1 class="NoMargin">85%</h1>
        <p class="NoMargin">Food taste</p>
      </div>
      <div class="circle1">
        <h1 class="NoMargin">85%</h1>
        <p class="NoMargin">Hygiene</p>
      </div>
      <div class="circle3">
        <h1 class="NoMargin">85%</h1>
        <p class="NoMargin">Packaging</p>
      </div>
    </div>
  </div>
</div>

<div class="MakeItCenter">
  <div class="line3">
    <div class="graph3Border">
      <h3 class="title">Most ordered food</h3>
      <div class="list3Border"></div>
    </div>
    <p class="gray">Adipiscing elit, sed do eiusmod tempor</p>
    <div class="list FlexSpaceInBetween MakeItFlex">
      <div class="MakeItFlex">
        <div class="listImg">
          <img src="assets/cake.webp" alt="">
        </div>
        <p>big pink cake</p>
      </div>
      <p>IDR 45.000</p>
    </div>

    <div class="list FlexSpaceInBetween MakeItFlex">
      <div class="MakeItFlex">
        <div class="listImg">
          <img src="assets/meat.webp" alt="">
        </div>
        <p>well done meat plate</p>
      </div>
      <p>IDR 45.000</p>
    </div>

    <div class="list FlexSpaceInBetween MakeItFlex">
      <div class="MakeItFlex">
        <div class="listImg">
          <img src="assets/salad.svg" alt="">
        </div>
        <p>Fresh salad bowel</p>
      </div>
      <p>IDR 75.000</p>
    </div>

    <div class="list FlexSpaceInBetween MakeItFlex">
      <div class="MakeItFlex">
        <div class="listImg">
          <img src="assets/spagetti.jpg" alt="">
        </div>
        <p>spaghetti</p>
      </div>
      <p>IDR 45.000</p>
    </div>
  </div>
</div>