<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="display">
    <div class="approval-box">
        <img src="assets/Wait-Purple.svg">
        <h2>Waiting for approval</h2>
        <p>Your application is currently under review and will take approximately 24 to 48 business hours.
            We will notify you via email once it has been approved.
            <br> Thank you for your patience!
        </p>
    </div>
</div>

<div class="icon-container">
    <div class="icons whatsapp">
        <img src="assets/whatsapp.svg">
    </div>
    <div class="icons arrow">
        <img src="assets/arrow-up.svg">
    </div>
</div>
