<div class="bigContainer">
  <div class="container">
    <h2>Notifications</h2>
    <div class="notifBorder">
      <div class="notif MakeItFlex">
        <div class="circle MakeItFlex MakeItCenter">
          <img src="assets/arrows.svg" alt="">
        </div>
        <div>
          <p class="title">Promotion approved</p>
          <p class="desc">New feature - April 21, 2023</p>
        </div>
      </div>
    </div>

    <div class="notifBorder">
      <div class="notif MakeItFlex">
        <div class="circle MakeItFlex MakeItCenter">
          <img src="assets/arrows.svg" alt="">
        </div>
        <div>
          <p class="title">Disount almost done</p>
          <p class="desc">New feature - April 21, 2023</p>
        </div>
      </div>
    </div>

    <div class="notifBorder">
      <div class="notif MakeItFlex">
        <div class="circle MakeItFlex MakeItCenter">
          <img src="assets/arrows.svg" alt="">
        </div>
        <div>
          <p class="title">Week statistics ready!</p>
          <p class="desc">New feature - April 21, 2023</p>
        </div>
      </div>
    </div>

    <div class="MakeItCenter">
      <button>View more</button>
    </div>

  </div>
</div>
