  <!-- product service section -->
    <section class="productServiceSection">
        <div class="container-2xl">
            <div class="productServiceContainer">
                <div class="productTabContainer flex row-center gap-2">
                    <!-- Tab buttons -->
                    <button
                      class="tabbtn"
                      [ngClass]="{'active': activeTab === 'product'}"
                      (click)="product()"
                    >
                      Product
                    </button>
                    <button
                      class="tabbtn"
                      [ngClass]="{'active': activeTab === 'service'}"
                      (click)="service()"
                    >
                      Service
                    </button>
                  </div>
                <div class="tabContentContainer">
                    <div class="tabContentItem active" id="productTab">
                        <div class="grid-layout ">
                            <div class="grid-col" (click)="filterByCategory('All')">
                                <div class="productCard">
                                    <img src="./assets/img/dog-img.png" alt="dog" class="productImage">
                                    <h5 class="smText">All</h5>
                                </div>
                            </div>
                            <div class="grid-col" (click)="filterByCategory('Dogs')">
                                <div class="productCard">
                                    <img src="./assets/img/dog-img.png" alt="dog" class="productImage">
                                    <h5 class="smText">Dogs</h5>
                                </div>
                            </div>
                            <div class="grid-col" (click)="filterByCategory('Cats')">
                                <div class="productCard">
                                    <img src="./assets/img/cat-img-1.png" alt="cat" class="productImage">
                                    <h5 class="smText">Cats</h5>
                                </div>
                            </div>
                            <div class="grid-col" (click)="filterByCategory('Birds')">
                                <div class="productCard">
                                    <img src="./assets/img/dog-img-2.png" alt="dog" class="productImage">
                                    <h5 class="smText">Birds</h5>
                                </div>
                            </div>                            
                            <div class="grid-col" (click)="filterByCategory('other')">
                                <div class="productCard">
                                    <img src="./assets/img/cat-img-2.png" alt="cat" class="productImage">
                                    <h5 class="smText">Others</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product Listing section -->
   <!-- Product Tab Content -->
<div *ngIf="activeTab === 'product'" class="productTab" id="productTab">
    <!-- Your Product Content Here -->
    <h2>Products</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div *ngFor="let product of products" class="product-card"     (click)="navigateTodetail(product.id)"
      >
        <img [src]="product.image" alt="Product Image"  class="h-16 rounded-full"/>
        <h3>{{ product.title }}</h3>
        <p>{{ product.short_description }}</p>
        <p><span class="old-price">{{ product.old_price | currency }}</span><span class="new-price">{{ product.new_price | currency }}</span></p>
      </div>
    </div>
  </div>
  
  <!-- Service Tab Content -->
  <div *ngIf="activeTab === 'service'" class="serviceTab" id="serviceTab">
    <!-- Your Service Content Here -->
    <h2>Services</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div *ngFor="let service of servicess" class="service-card"     (click)="navigateToServicedetail(service.id)"
      >
        <img [src]="service.image" alt="Service Image" class="h-16 rounded-full" />
        <h3>{{ service.title }}</h3>
        <p>{{ service.short_description }}</p>
        <p><span class="old-price">{{ service.old_price | currency }}</span><span class="new-price">{{ service.new_price | currency }}</span></p>
      </div>
    </div>
  </div>