
    
    <!-- top header -->
    <app-navbar></app-navbar>

    <!-- hero section -->
    <section class="heroSection  ">
        <img src="./assets/img/vet-clinic-hero-bg.png" alt="hero-bg" class="heroSectionBg">
        <div class="container-3xl">
            <div class="hero-container">
                <div class="heroLinkContainer ">
                    <a href="#" class="hero-link active">Home</a>
                    <div class="heroDot"></div>
                    <a href="#" class="hero-link active">Service</a>
                    <div class="heroDot"></div>
                    <a href="#" class="hero-link">Providers</a>
                </div>
                <h1 class="hero-heading">Providers</h1>
                <p class="mainText">we provide compassionate, expert care to ensure your pets remain happy and healthy. 
                    Located in the heart of Bahrain, we offer a range of services tailored to meet the unique needs of your furry friends.</p>
            </div>
            
        </div>
    </section>

    <!-- product Listing section -->
    <section class="productListingSection vetClinicProductListingSection">
        <div class="container-2xl">
            <div class="productListingContainer">
                <div class="grid-layout-2">
                    <div class="grid-col-9">
                        <div class="productListContainer">
                            <div class="productSearchInputContainer flex row-between gap-1-5 width-full">
                                <div class="inputHolder flex flex-1 row-between gap-1">
                                    <img src="assets/icons/search.svg" alt="search" class="searchIcon">
                                    <input type="text" class="inputArea flex-1" placeholder="Search" (input)="onSearch($event.target.value)">
                                </div>
                            </div>
                            <div class="grid-layout-2">                                
                                <div class="grid-col-4 col-sm" *ngFor="let provider of providers; ">
                                    <div class="productListItemCard" (click)="viewProvider(provider.id)">
                                      <img [src]="provider.profile_image ? provider.profile_image : 'assets/default-image.png'" alt="{{provider.provider_name_en}} profile image"
                                        class="productListItemImage">
                                      <div class="productCardBody">
                                        <h4 class="mdHeading">{{ provider.provider_name_en }}</h4>
                                        <h4 class="inputArea flex-1">{{ provider.type || 'No Type Available' }}</h4>
                                      </div>
                                    </div>
                                  </div>
                                  
                            </div>

                            <div class="paginationContainer">
                                <button class="paginationBtn" [class]="page == currentPage ? 'active' : ''" *ngFor="let page of pages" (click)="changePage(page)">{{ page }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="grid-col-3">
                        <div class="productFilterContainer vetClinicProductFilterContainer">
                            <div class="productFilterCard">
                                <h3 class="mdHeading flex row-between">Our services
                                </h3>
                                <div class="filterBtnContainer">
                                    <button class="main-btn" (click)="applyFilter('groomer')" [class]="selectedFilters.includes('groomer') ? 'main-:hover' : ''">Groomer</button>
                                    <button class="main-btn" (click)="applyFilter('pet shop')" [class.active]="selectedFilters.includes('pet shop')">Pet Shop</button>
                                    <button class="main-btn" (click)="applyFilter('trainer')" [class.active]="selectedFilters.includes('trainer')">Pet Training</button>
                                    <!-- <button class="main-btn" (click)="applyFilter('accommodation')" [class.active]="selectedFilters.includes('accommodation')">Accommodation </button> -->
                                    <button class="main-btn" (click)="applyFilter('doctor')" [class.active]="selectedFilters.includes('doctor')">Doctor </button>
                                    <button class="main-btn" (click)="applyFilter('pet clinic')" [class.active]="selectedFilters.includes('pet clinic')">Pet Clinic</button>
                                    <button class="main-btn" (click)="clearFilters()">Clear Filters</button>
                                    
                                </div>
                            </div>
                            <!-- <div class="productFilterCard">
                                <h3 class="mdHeading flex row-between">Pet Type
                                </h3>
                                <div class="filterBtnContainer ">
                                    <button class="main-btn">Cats</button>
                                    <button class="main-btn">Dogs</button>
                                    <button class="main-btn">fish</button>
                                    <button class="main-btn">Birds</button>
                                    <button class="main-btn">tortoise </button>
                                    <button class="main-btn">Horse</button>
                                    <button class="main-btn">Hamsters</button>
                                    <button class="main-btn">Rabbits </button>
                                    <button class="main-btn">Camels </button>
                                    <button class="main-btn">Livestock </button>
                                    <button class="main-btn">others </button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function toggleSideMenu() {
            let sideMenu = document.querySelector(".side-menu");
            let hambergerIcon = document.querySelector(".hamberger-icon");
            let closeIcon = document.querySelector(".close-icon");

            hambergerIcon.addEventListener("click", () => {
                sideMenu.classList.add("show");
            })
            closeIcon.addEventListener("click", () => {
                sideMenu.classList.remove("show");
            })
        }
        toggleSideMenu(); // sider menu toggle
    </script>
