<body>
  <div class="MakeItCenter" id="top">
    <div class="container flex">
        <img *ngIf="product?.images?.length" [src]="selectedImage ?? product?.images?.[0]" alt="Product Image"
    class="Pimage" />
      <div class="flex" id="pictures">
        <div class="smallPictures" *ngFor="let image of product?.images" (click)="changeMainImage(image)"><img [src]="image"></div>
      </div>
      
      <div id="bigPicture">
      </div>

      <div id="desc">
        <h1 class="font">{{product?.name}}</h1>
        <p class="font">{{product?.description}}</p>
          <div class="MakeItFlex" id="reviews">
            <div id="starContainer">
              <div *ngfor="let i of arrayNumbers" class="star">
                <svg [attr.fill]="i <= averageRating ? '#F0A441' : '#9da4aa'" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" stroke="rgba(0, 0, 0, 0.3)" class="icon">
                  <path d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z"></path>
                </svg>
              </div>
              <img src="assets/Star.svg">
              <img src="assets/Star.svg">
              <img src="assets/Star.svg">
              <img src="assets/Star.svg">
              <img src="assets/Star.svg">
            </div>
            <p class="font">{{reviewCount}} Reviews</p>
          </div>
          <div class="font MakeItFlex" id="prices">
            <p id="priceBefore">{{product?.old_price}}</p>
            <p id="priceAfter">{{product?.new_price}}</p>
          </div>
      </div>
    </div>
  </div>

  <div id="bottom">
    <div id="bottomContainer">
      <div id="buttons">
        <button>Reviews</button>
      </div><br/>
      <div>
        <label class="Font">Rating: {{ averageRating.toFixed(2) }}</label>
        <label class="Font">({{ reviewCount }})</label>
      </div>
      <ng-template #noReview>
        <div class="noReview Margin-Top">
          <label class="bodyFont">No review available</label>
        </div>
      </ng-template>
      <div *ngIf="reviews && reviews.length > 0; else noReview">
        <div class="ReviewContainer">
    
          <div class="FlexSpaceInBetween">
            <div class="MakeItFlex">
              <div class="square">
                <div class="parent">
                  <img [src]="reviews[0].petOwner?.profile_image" alt="Avatar" />
                </div>
              </div>
              <div class="column">
                <label class="bodyFont boldFont">{{ reviews[0].petOwner?.first_name }}</label>
                <div class="stars-container">
                  <div *ngFor="let i of [1, 2, 3, 4, 5]" class="star">
                    <svg [attr.fill]="i <= reviews[0].rate ? '#F0A441' : '#9da4aa'" viewBox="0 0 1024 1024"
                      xmlns="http://www.w3.org/2000/svg" stroke="rgba(0, 0, 0, 0.3)" class="icon">
                      <path
                        d="M908.1 353.1l-253.9-36.9L540.7 86.1c-3.1-6.3-8.2-11.4-14.5-14.5-15.8-7.8-35-1.3-42.9 14.5L369.8 316.2l-253.9 36.9c-7 1-13.4 4.3-18.3 9.3a32.05 32.05 0 0 0 .6 45.3l183.7 179.1-43.4 252.9a31.95 31.95 0 0 0 46.4 33.7L512 754l227.1 119.4c6.2 3.3 13.4 4.4 20.3 3.2 17.4-3 29.1-19.5 26.1-36.9l-43.4-252.9 183.7-179.1c5-4.9 8.3-11.3 9.3-18.3 2.7-17.5-9.5-33.7-27-36.3z">
                      </path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
    
            <label class="bodyFont">{{ reviews[0].date }}</label>
    
          </div>
    
          <div class="Margin-Top">
            <label class="bodyFont">{{ reviews[0].comment }}</label>
          </div>
        </div>
      </div>
  </div>
  </div>
</body>