<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body>
    <!-- hero section -->
    <section class="heroSection featureMainPageHeroSection">
        <div class="gridContainer">
            <div class="gridItem">
                <div class="featureHeroImgCol">
                    <img src="./assets/img/feature-dogs-img.png" alt="dogs" class="featureDogsImg">
                </div>
            </div>
            <div class="gridItem">
                <div class="featureHeroImgCol">
                    <h1 class="mdHeading">Your Ultimate Companion App for Pet Owners - Manage Pet Care with Sama Care
                    </h1>
                </div>
            </div>
            <div class="gridItem">
                <div class="featureHeroImgCol row-end">
                    <img src="./assets/img/feature-selphone-img.png" alt="dogs" class="featureSelPhoneImg">
                </div>
            </div>
        </div>
    </section>

    <!-- feature download section -->
    <section class="featureDownLoadSection">
        <div class="flex-col-4 mx-auto">
            <div class="featureHeroImgCol">
                <h1 class="mdHeading">Download Our App - Get Sama Care for Easy Pet Management Today!"</h1>
                <div class="socialMediaContainer flex row-between gap-3">
                    <a href="#" class="socialMediaLink"><img src="./assets/img/google-play-icon-1.png" alt="google-play"
                            class="socialMediaIcon"></a>
                    <a href="#" class="socialMediaLink"><img src="./assets/img/apple-store-icon-1.png" alt="apple-store"
                            class="socialMediaIcon"></a>
                </div>
            </div>
        </div>
    </section>

    <!-- feature mobile section -->
    <section class="featureMobileSection">
        <div class="featureShowMobileCo">
            <img src="./assets/img/mobile-tab-img.png" alt="mobile show img" class="mobleTabImg">
        </div>
        <div class="gridContainer">
            <div class="gridItem-6">
                <div class="featureMobileCol">
                    <img src="./assets/img/featuer-mobile-1.png" alt="mobile" class="featureMobileImg">
                    <div class="featureMobileCard">
                        <h1 class="mdHeading flex gap-half">
                            <img src="./assets/icons/user-pet.svg" alt="user" class="featureCardimg">
                            User and Pet Profiles
                        </h1>
                        <p class="mainText"> Create personalized profiles for both users and their pets</p>
                        <a class="moreBtn flex gap-half">
                            More details
                            <img src="./assets/icons/left-arrow.svg" alt="left arrow" class="leftArrow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="gridItem-6">
                <div class="featureMobileCol">
                    <img src="./assets/img/featuer-mobile-2.png" alt="mobile" class="featureMobileImg">
                    <div class="featureMobileCard">
                        <h1 class="mdHeading flex gap-half">
                            <img src="./assets/icons/dicsount.svg" alt="user" class="featureCardimg">
                            Personalized Discounts
                        </h1>
                        <p class="mainText">Subscribe for a customized pet card to receive exclusive discounts and
                            offers</p>
                        <a href="#" class="moreBtn flex gap-half">
                            More details
                            <img src="./assets/icons/left-arrow.svg" alt="left arrow" class="leftArrow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="gridItem-6">
                <div class="featureMobileCol">
                    <img src="./assets/img/featuer-mobile-3.png" alt="mobile" class="featureMobileImg">
                    <div class="featureMobileCard">
                        <h1 class="mdHeading flex gap-half">
                            <img src="./assets/icons/acsses.svg" alt="user" class="featureCardimg">
                            Comprehensive Service Access
                        </h1>
                        <p class="mainText">Explore a range of services including veterinary clinics, pet stores,
                            grooming, training, and accommodations</p>
                        <a href="#" class="moreBtn flex gap-half">
                            More details
                            <img src="./assets/icons/left-arrow.svg" alt="left arrow" class="leftArrow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="gridItem-6">
                <div class="featureMobileCol">
                    <img src="./assets/img/featuer-mobile-4.png" alt="mobile" class="featureMobileImg">
                    <div class="featureMobileCard">
                        <h1 class="mdHeading flex gap-half">
                            <img src="./assets/icons/home-icon.svg" alt="user" class="featureCardimg">
                            Adoption, Matting and Lost Pet Listings
                        </h1>
                        <p class="mainText">View and showcase adoption opportunities, pet mating, and lost pet
                            notifications</p>
                        <a href="#" class="moreBtn flex gap-half">
                            More details
                            <img src="./assets/icons/left-arrow.svg" alt="left arrow" class="leftArrow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="gridItem-6">
                <div class="featureMobileCol">
                    <img src="./assets/img/featuer-mobile-5.png" alt="mobile" class="featureMobileImg">
                    <div class="featureMobileCard">
                        <h1 class="mdHeading flex gap-half">
                            <img src="./assets/icons/remender-pet.svg" alt="user" class="featureCardimg">
                            Reminders and Pet Tags
                        </h1>
                        <p class="mainText">Set reminders for pet care and purchase a tag with a QR code for easy
                            identification if lost</p>
                        <a href="#" class="moreBtn flex gap-half">
                            More details
                            <img src="./assets/icons/left-arrow.svg" alt="left arrow" class="leftArrow">
                        </a>
                    </div>
                </div>
            </div>
            <div class="gridItem-6">
                <div class="featureMobileCol">
                    <img src="./assets/img/featuer-mobile-6.png" alt="mobile" class="featureMobileImg">
                    <div class="featureMobileCard">
                        <h1 class="mdHeading flex gap-half">
                            <img src="./assets/icons/owner-ship.svg" alt="user" class="featureCardimg">
                            Easily transfer pet ownership within the app
                        </h1>
                        <p class="mainText"> Create personalized profiles for both users and their pets</p>
                        <a href="#" class="moreBtn flex gap-half">
                            More details
                            <img src="./assets/icons/left-arrow.svg" alt="left arrow" class="leftArrow">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <img src="./assets/img/feature-shape-img.png" alt="shapes " class="featureShapeImg">
    </section>

    <!-- feature work section -->
    <section class="featureWorkSection">
        <div class="container-2xl">
            <h1 class="mdHeading">How it works ?</h1>
            <div class="gridContainer">
                <div class="gridItem">
                    <div class="featureWorkCard">
                        <div class="cardConectCirle"></div>
                        <div class="cardConnectLine"></div>
                        <img src="./assets/img/file-img.png " alt="file" class="featureWorkCardImg">
                        <h2 class="mdHeading">Register as a user</h2>
                        <p class="mainText">Creating your personal profile.</p>
                    </div>
                </div>
                <div class="gridItem">
                    <div class="featureWorkCard">
                        <div class="cardConectCirle sendingColor"></div>
                        <div class="cardConectCirle cardReciveCircle"></div>
                        <div class="cardConnectLine sendingLine"></div>
                        <img src="./assets/img/pet-img.png " alt="file" class="featureWorkCardImg">
                        <h2 class="mdHeading">Register your pet</h2>
                        <p class="mainText">Creating your pet's profile.</p>
                    </div>
                </div>
                <div class="gridItem">
                    <div class="featureWorkCard">
                        <div class="cardConectCirle cardReciveCircle"></div>
                        <img src="./assets/img/explore-img.png " alt="file" class="featureWorkCardImg">
                        <h2 class="mdHeading">Explore </h2>
                        <p class="mainText">Experience the benefits of smart pet parenting.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>