<div class="MakeItCenter">
  <h2>Discounts</h2>
</div>

<div class="MakeItCenter">
  <div class="card-content FlexSpaceInBetween">
    
    <div class="MakeItFlexAsAColumnNoCenter">
      <h3>Breed:</h3>
      <p>Country: Bahrain </p>
      <!-- <p>Gender: {{ selectedPet?.gender  }}</p>
      <p>Valid date: TBA years</p>
      <p>Owner's name: {{ profile?.first_name }}</p> -->
    </div>

    <div class="in-card-qr">
      <img src="assets/QR.png" alt="QR Code" />
    </div>
  </div>
</div>

<div class="MakeItCenter">
  <div class="MakeItFlex buttons">
    <button id="Service" class="font active">Service</button>
    <button id="Product" class="font">Product</button>
  </div>
</div>

<div class="FlexSpaceInBetween listContainer">
  <div class="MakeItFlex">
    <img class="icons" src="assets/Search.svg" alt="">
    <img class="icons" src="assets/filter.svg" alt="">
  </div>
  <div>
    <input type="checkbox" id="selectAll">
    <label for="selectAll">Select all</label>
  </div>
</div>

<div class="listItem listContainer MakeItFlex">
  <input type="checkbox" id="option1">
  <div class="listItemImg">
    <img src="assets/OIP.jpeg" alt="">
  </div>
  <div>
    <label for="option1">Discount</label>
    <p>Lorem ipsum dolor sit amet</p>
  </div>
</div>

<div class="listItem listContainer MakeItFlex">
  <input type="checkbox" id="option2">
  <div class="listItemImg">
    <img src="assets/OIP.jpeg" alt="">
  </div>
  <div>
    <label for="option2">Discount</label>
    <p>Lorem ipsum dolor sit amet</p>
  </div>
</div>

<div class="listItem listContainer MakeItFlex">
  <input type="checkbox" id="option3">
  <div class="listItemImg">
    <img src="assets/OIP.jpeg" alt="">
  </div>
  <div>
    <label for="option3">Discount</label>
    <p>Lorem ipsum dolor sit amet</p>
  </div>
</div>

<div class="listItem listContainer MakeItFlex">
  <input type="checkbox" id="option4">
  <div class="listItemImg">
    <img src="assets/OIP.jpeg" alt="">
  </div>
  <div>
    <label for="option4">Discount</label>
    <p>Lorem ipsum dolor sit amet</p>
  </div>
</div>

<div class="listItem listContainer MakeItFlex">
  <input type="checkbox" id="option5">
  <div class="listItemImg">
    <img src="assets/OIP.jpeg" alt="">
  </div>
  <div>
    <label for="option5">Discount</label>
    <p>Lorem ipsum dolor sit amet</p>
  </div>
</div>




