<!-- signup-page.component.html -->
<div class="header">
  <div class="header-left">
    <img src="assets/logo.png" alt="Sama Pet Care Logo" class="logo" />
    <div class="header-icons">
      <a href="#">
        <img
          src="assets/facebook-icon.png"
          alt="Facebook"
          class="social-icon"
        />
      </a>
      <a href="#">
        <img
          src="assets/instagram-icon.png"
          alt="Instagram"
          class="social-icon"
        />
      </a>
      <a href="#">
        <img src="assets/twitter-icon.png" alt="Twitter" class="social-icon" />
      </a>
    </div>
  </div>
  <div class="header-right">
    <span>
      <img src="assets/phone-icon.png" alt="Phone" />
      0000 - 123456789
    </span>
    <span>
      <img src="assets/email-icon.png" alt="Email" />
      infoexample.com
    </span>
    <button class="header-login-btn">Log in</button>
  </div>
</div>

<div class="signup-container">
  <div class="signup-box">
    <div class="tabs">
      <button class="tab active">Sign up</button>
      <button class="tab">Log in</button>
    </div>

    <h2>Sign up</h2>
    <button class="facebook-signup">
      <img src="assets/facebook-icon.png" alt="Facebook Icon" />
      Sign up with Facebook
    </button>
    <button class="google-signup">
      <img src="assets/google-icon.png" alt="Google Icon" />
      Sign up with Google
    </button>

    <div class="separator"><span>OR</span></div>

    <form>
      <input type="email" placeholder="Your email" class="input-field" />
      <div class="password-field">
        <input
          type="password"
          placeholder="Your password"
          class="input-field"
        />
        <span class="hide-password">Hide</span>
      </div>
      <button type="submit" class="signup-btn">Sign up</button>
    </form>

    <p class="user-switch">
      Are you a User?
      <a href="#">Sign up</a>
    </p>
    <p class="user-switch">
      You have an account already?
      <a href="#">Login</a>
    </p>
  </div>
</div>
