<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Services</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="services-header">
      <p>HOME > SERVICE</p>
      <h1>Our Services</h1>
      <div class="img-con">
        <img src="assets/black-dog.png" alt="Dog Image" class="fade">
        <div class="grad-overlay"></div>
      </div>
      <br>
      <br>
    </div>
    
    <div class="services-section">
      <div class="service-card">
        <img src="assets/vet-dog.png" alt="Vet Clinic" class="ser-one">
        <h3>Vet Clinic</h3>
        <ul>
          <li>Bathing - wash and fluff dry</li>
          <li>Pawdicure - nail trimming and filing</li>
          <li>Breed specific styling, cutting, and stripping</li>
          <li>De-matting and detangling</li>
        </ul>
        <button class="service-btn">
          <img src="assets\paw.png">
          Get Service
        </button>
      </div>

      <div class="service-card">
        <img src="assets/trolly.png" alt="Pet Store" class="ser-two">
        <h3>Pet Store</h3>
        <ul>
          <li>Bathing - wash and fluff dry</li>
          <li>Pawdicure - nail trimming and filing</li>
          <li>Breed specific styling, cutting, and stripping</li>
          <li>De-matting and detangling</li>
        </ul>
        <button class="service-btn">
          <img src="assets\paw.png">
          Get Service
        </button>
      </div>

      <div class="service-card">
        <img src="assets/grooming.png" alt="Grooming" class="ser-two">
        <h3>Grooming</h3>
        <ul>
          <li>Bathing - wash and fluff dry</li>
          <li>Pawdicure - nail trimming and filing</li>
          <li>Breed specific styling, cutting, and stripping</li>
          <li>De-matting and detangling</li>
        </ul>
        <button class="service-btn">
          <img src="assets\paw.png">
          Get Service
        </button>
      </div>

      <div class="service-card">
        <img src="assets/trophy.png" alt="Pet Training" class="ser-two">
        <h3>Pet Training</h3>
        <ul>
          <li>Bathing - wash and fluff dry</li>
          <li>Pawdicure - nail trimming and filing</li>
          <li>Breed specific styling, cutting, and stripping</li>
          <li>De-matting and detangling</li>
        </ul>
        <button class="service-btn">
          <img src="assets\paw.png">
          Get Service
        </button>
      </div>

      <div class="service-card">
        <img src="assets/food.png" alt="Pet Store" class="ser-two">
        <h3>Pet Store</h3>
        <ul>
          <li>Bathing - wash and fluff dry</li>
          <li>Pawdicure - nail trimming and filing</li>
          <li>Breed specific styling, cutting, and stripping</li>
          <li>De-matting and detangling</li>
        </ul>
        <button class="service-btn">
          <img src="assets\paw.png">
          Get Service
        </button>
      </div>

      <div class="service-card">
        <img src="assets/walk.png" alt="Grooming" class="ser-one">
        <h3>Grooming</h3>
        <ul>
          <li>Bathing - wash and fluff dry</li>
          <li>Pawdicure - nail trimming and filing</li>
          <li>Breed specific styling, cutting, and stripping</li>
          <li>De-matting and detangling</li>
        </ul>
        <button class="service-btn">
          <img src="assets\paw.png">
          Get Service
        </button>
      </div>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
  <script src="app.js"></script>
</body>

</html>
