body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .services-header {
    background: linear-gradient(to bottom, #FFD700, #f7f7f7);
    padding: 50px;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .services-header img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15%;
    height: auto;
    z-index: 2;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, #f7f7f7, rgba(0,0,0,0));
  }

  .services-header h1 {
    font-size: 2.5em;
    margin: 0.5em 0;
    z-index: 2;
    position: relative;
    text-align: left;
  }

  .services-header p {
    font-size: 1rem;
    color: black;
    text-align: left;
  }

  .services-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 5px;
    background-color: #f7f7f7;
}

.service-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(35% - 5px); 
    padding: 5px;
    text-align: center;
    transition: transform 0.3s;
    border: 2px solid #6c63ff;
    margin: 10px;
    justify-content: space-between;
}

.service-card:hover {
    transform: translateY(-5px);
}

.ser-one {
    max-width: 25%;
    height: auto;
    margin-bottom: 10px;
}

.ser-two {
    max-width: 35%;
    height: auto;
    margin-bottom: 10px;
}

.service-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.service-card ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.service-card li {
    margin: 10px 0;
    display: flex;
}

.service-card li::before {
    content: "\2022";
    color: #6c63ff;
    margin-right: 10px;
}

.service-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #6c63ff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-self: flex-end;
}

.service-btn:hover {
    background-color: #5a54d6; 
}
