<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<app-navbar></app-navbar>
<body>
<div class="app-section">
    <div class="app-left">
        <img src="assets\Phone.png">
    </div>
    <div class="app-right">
        <h1>The World's Best Team for Pet Care Services</h1>
        <p>Consequat nisl vel pretium lectus quam id leo in. Quis viverra nibh cras pulvinar
        mattis. Quis hendrerit dolor magna eget est lorem ipsum dolor</p>

        <div class="download-buttons">
            <button>
                <img src="assets\appstore.png">
                Download on the AppStore
            </button>
            <button>
                <img src="assets\googleplay.png">
                Get it on Google Play
            </button>
        </div>
    </div>

    <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1" d="M0,96L48,106.7C96,117,192,139,288,138.7C384,139,480,117,576,122.7C672,128,768,160,864,154.7C960,149,1056,107,1152,101.3C1248,96,1344,128,1392,144L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
</div>

<div class="subscribe-section">
    <h1>Treat Your Pets to the Best For Less!</h1>
    <h4>Subscribe To Our Subscription Plan & BE A Member</h4>
    <button>Subscribe Now!</button>
</div>

<div class="services-section">
    <p>OUR SERVICES</p>
    <h3>All Pet Care Services</h3>

    <div class="services">
        <p>Vet Clinic</p>
        <p>Pet Store</p>
        <p>Grooming</p>
        <p>Pet Training</p>
        <p>Marketplace</p>
        <p>Accommodation</p>
    </div>
</div>

<div class="experience-section">
    <h1>Elevate Your Experience!</h1>
    <p>Consequat nisl vel pretium lectus quam id leo in. Quis viverra nibh cras pulvinar
        mattis. Quis hendrerit dolor magna eget est lorem ipsum dolor</p>
</div>

<div class="package-section">
    <h2>Package Plan</h2>
    <p>We can fully customize your pet sitting schedule to fit your pet's needs. Pick and
        choose what visits work best for you and your family</p>

    <div class="plans">
        <div class="starter">
            <h4>$20 /month</h4>
            <h5>Starter</h5>
            <hr>
            <p>All limited links</p>
            <p>Own analytics platform</p>
            <p>Chat support</p>
            <p>Optimize hashtags</p>
            <p>Unlimited users</p>
            <button>CHOOSE PLAN</button>
        </div>

        <div class="pro">
            <h4>$100 /month</h4>
            <h5>Pro</h5>
            <hr>
            <p>All limited links</p>
            <p>Own analytics platform</p>
            <p>Chat support</p>
            <p>Optimize hashtags</p>
            <p>Unlimited users</p>
            <button>CHOOSE PLAN</button>
        </div>

        <div class="Enterprise">
            <h4>$200 /month</h4>
            <h5>Pro</h5>
            <hr>
            <p>All limited links</p>
            <p>Own analytics platform</p>
            <p>Chat support</p>
            <p>Optimize hashtags</p>
            <p>Unlimited users</p>
            <button>CHOOSE PLAN</button>
        </div>
    </div>
</div>
</body>