<!-- <p>booking-history works!</p> -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="display">
    <div class="box">
     <h2>Booking History</h2>
     <div class="card">
        <div class="card-header">
            <div class="user-info">
                <img src="./assets/booking-profile.svg" alt="Andrew Ainsley" class="profile-pic">
                <span class="user-name">Andrew Ainsley</span>
                <span class="messege-icon">
                    <img src="./assets/messege-icon.svg">
                </span>
            </div>
            <div class="price">$20.00</div>
        </div>

        <div class="service-info info">
            <h2>Bathing</h2>
             <div class="pet-info info">
                <img src="./assets/cat.svg" alt="Cat" class="pet-pic">
                <span>Cat</span>
            </div>
        </div>
               <span class="service-info info">Date & Time</span>
        <div class="date-time">
         
            <div class="date date-space">
                <img src="/assets/calender.svg" alt="Calendar" class="icon">
                <span class="date-time " >Monday 15 Sep</span>
            </div>
            <div class="time info">
                <img src="./assets/time.svg" alt="Clock" class="icon">
                <span >05:30 PM</span>
            </div>
        </div>
        <div class="notes">
            
            <label for="notes appo" class="appo">Appointment Notes</label>
            <textarea id="notes" rows="4" placeholder="Enter Notes"></textarea>
        </div>

        <button class="end-btn">End of appointment</button>
    </div>
    </div>
    
</div>
<div class="icon-container">
    <div class="icons whatsapp">
        <img src="assets/whatsapp.svg">
    </div>
    <div class="icons arrow">
        <img src="assets/arrow-up.svg">
    </div>
</div>
