<app-navbar></app-navbar>
<div class="container">
    <div class="profile">
      <img src="assets/profile-image.jpg" alt="Profile Picture">
      <h3>#1234</h3>
      <h2>Sarah Newland</h2>
      <p>Joined: 22/06/2023</p>
    </div>
    <div class="transfer-message">
      <div class="denied-message">
        <div class="icon-wrapper">
          <div class="icon">X</div>
        </div>
        <h2>You got denied!</h2>
        <p>We're sorry, your Transfer has not been approved by the user.</p>
      </div>
      <button class="back-home" (click)="goHome()">Go to Home</button>
    </div>
  </div>
  