<div class="container">
    <div class="content">
        <div class="segment">
            <button class="segment-button" [class.active]="segment === 'login'" (click)="changeSegment('login')">
                Login
            </button>
            <button class="segment-button" [class.active]="segment === 'signup'" (click)="changeSegment('signup')">
                Sign Up
            </button>
        </div>

        <app-login *ngIf="segment === 'login'" (segmentChange)="changeSegment('signup')"></app-login>
        <app-signup *ngIf="segment === 'signup'" (segmentChange)="changeSegment('login')"></app-signup>
    </div>
</div>

<div class="icon-container">
    <div class="icons whatsapp">
        <img src="assets/whatsapp.svg" alt="whatsapp">
    </div>
    <div class="icons arrow">
        <img src="assets/arrow-up.svg" alt="arrow-up">
    </div>
</div>
