<h2>Provider Information</h2>
<div class="container"></div>
  <div class="card">
    <div class="left-panel">
      <div class="paw-print-background">
        <div class="logo">
          <span class="logo-text">Pet</span>
          <span class="logo-subtext">shop</span>
        </div>
      </div>
      <div class="shop-info">
        <p class="shop-number">#1234</p>
        <h2 class="shop-name">Pets Cabana</h2>
        <p class="join-date">Joined: 22/06/2023</p>
      </div>
    </div>
    <div class="right-panel">
      <div class="edit-button"><button>Edit</button></div>
      <div class="info-grid">
        <div class="info-row">
          <span class="info-label">Phone number:</span>
          <span class="info-value">+973 33332222</span>
        </div>
        <div class="info-row">
          <span class="info-label">Email:</span>
          <span class="info-value">email_here</span>
        </div>
        <div class="info-row">
          <span class="info-label">Commercial registration Number:</span>
          <span class="info-value">Female</span>
        </div>
        <div class="info-row">
          <span class="info-label">Social Media:</span>
          <span class="info-value">20/02/1999</span>
        </div>
        <div class="info-row">
          <span class="info-label">Availability:</span>
          <div class="availability-grid">
            <div class="day">M</div>
            <div class="day selected">T</div>
            <div class="day">W</div>
            <div class="day selected">T</div>
            <div class="day">F</div>
            <div class="day">S</div>
            <div class="day selected">S</div>
          </div>
        </div>
        <div class="info-row hours">
          <span class="hours-text">Hours: 10:00am - 2:00pm</span>
        </div>
        <div class="info-row">
          <span class="info-label">Locations:</span>
          <span class="info-value">2309 Kelley Road, Gulfport, MS 3950</span>
        </div>
        <div class="info-row">
          <span class="info-label">Upload Business Contract</span>
          <span class="info-value"></span>
        </div>
      </div>
      <div class="whatsapp-icon"></div>
    </div>
  </div>
  <div class="scroll-up-button"></div>
<!-- <div *ngIf="providerData">
  <img src="{{providerData.profile_image}}"/>
  <p>Name: {{ providerData.name }}</p>
  <p>Email: {{ providerData.email }}</p>
  <p>Joined: {{ providerData.created_at }}</p>
  <div id="day">
    <button *ngFor="let day of weekdays" [ngClass]="{'clicked-button': isSelected(day)}"
      disabled>
      {{ day }}
    </button>
  </div>
  <div id="hours">
    <label>Hours:</label>
    <div>
      <label type="time">{{providerData.timing}}</label>
      -
      <label type="time">{{providerData.timing}}</label>
    </div>
    <br>

  </div>

  <p>Contact Number: {{ providerData.contactNo }}</p>
  <p>Address: {{ providerData.address }}</p>
</div> -->