<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!-- hero section -->
    <section class="heroSection aboutUsHeroSection">
        <img src="./assets/img/about-us-hero-bg.png" alt="hero-bg" class="heroSectionBg">
        <div class="container-3xl">
            <div class="hero-container">
                <div class="heroLinkContainer ">
                    <a href="home" class="hero-link active">Home</a>
                    <div class="heroDot"></div>
                    <a href="/user-main-component/about-us" class="hero-link  ">About</a>
                </div>
                <h1 class="hero-heading">About Us</h1>
            </div>
        </div>
    </section>

    <!-- about Sama -->
    <section class="aboutSamaSection">
        <div class="container-3xl">
            <div class="aboutSamaContainer flex row-between">
                <div class="aboutSamaContent">
                    <h1 class="mdHeading">About Sama pet care</h1>
                    <p class="smText">(GCECC) is a Somali Diaspora-led business consortium focused on construction,
                        investment, affordable housing, agriculture, healthcare,
                        sustainable tourism, and eco-development in Somalia. Comprising social entrepreneurs, investors,
                        and professionals, they aim to promote
                        investment opportunities for Somalia’s reconstruction and development.  </p>
                    <div class="aboutSamaBtns flex  gap-1">
                        <a href="#" class="main-btn"><img src="./assets/icons/fett-icon.svg" alt="call"
                                class="aboutSamaIcon"> Contact</a>
                        <a href="our-services" class="main-btn active">Our services <img src="./assets/icons/left-arrow.svg"
                                alt="call" class="aboutSamaIcon"></a>
                    </div>
                </div>
                <div class="aboutSamaImage">
                    <img src="./assets/img/about-sama-img.png" alt="about-sama" class="aboutSamaImg">
                </div>
            </div>
        </div>
    </section>

    <!-- our mission section -->
    <section class="ourMissionSection">
        <div class="gridContainer">
            <div class="gridItem p-0  ">
                <div class="ourMissionImgContainer">
                    <img src="./assets/img/our-mission-cat-img.png" alt="our-mission" class="ourMissionImg">
                </div>
            </div>
            <div class="gridItem">
                <div class="ourMissionContentContainer">
                    <div class="ourMissionTab">
                        <img src="./assets/icons/our-mission-icon-1.svg" alt="our-mission" class="ourMissionIcon">
                        <h1 class="mdHeading">Our Mission</h1>
                        <p class="mainText">To provide foundations for post conflict Somali’s future.</p>
                    </div>
                    <div class="ourMissionTab">
                        <img src="./assets/icons/our-mission-icon-2.svg" alt="our-mission" class="ourMissionIcon">
                        <h1 class="mdHeading ourVisionHeading">Our Vision</h1>
                        <p class="mainText">To be the most respected and successfully operated company in our industry
                            – creating value for all of our stakeholders</p>
                    </div>
                </div>
            </div>
            <div class="gridItem">
                <div class="evaloyaterContainer">
                    <h1 class="mdHeading">Core Values</h1>
                    <img src="./assets/img/elementor-icon-wrapper.png" alt="our-mission" class="evlovtorImg">
                </div>
            </div>
        </div>
    </section>

    <!-- Our Objective section -->
    <section class="ourObjectiveSection">
        <div class="container-3xl">
            <div class="gridContainer">
                <div class="gridItem">
                    <div class="ourObjectiveImgContainer">
                        <img src="./assets/img/our-objective-cat-img.png" alt="our-objective" class="ourObjectiveImg">
                    </div>
                </div>
                <div class="gridItem">
                    <div class="ourObjectiveContentContainer">
                        <h1 class="mdHeading">Our Objective</h1>
                        <p class="mainText">S(GCECC) Construction Company performs operations across all provinces in
                            Somalia serves the following market areas: Land Development, Municipal,
                            Commercial/ Industrial and Heavy Civil Construction.</p>
                    </div>
                </div>
                <div class="gridItem">
                    <div class="ourObjectiveImgContainer ourObjectiveImgaeContainer2">
                        <img src="./assets/img/our-objective-rat-img.png" alt="our-objective" class="ourObjectiveImg2">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Card Section -->
    <section class="contactCardSection">
        <div class="container-xl">
            <div class="gridContainer">
                <div class="gridItem-3">
                    <div class="contactCard">
                        <img src="./assets/icons/call-fil.svg" alt="call" class="cardIcon">
                        <h1 class="mdHeading">Phone</h1>
                        <a href="tel::+9137563126" class="cardLink">(973) 756-3126</a>
                    </div>
                </div>
                <div class="gridItem-3">
                    <div class="contactCard">
                        <img src="./assets/icons/email-fill.svg" alt="email" class="cardIcon">
                        <h1 class="mdHeading">Email</h1>
                        <a href="mailto:" class="cardLink"></a>
                    </div>
                </div>
                <div class="gridItem-3">
                    <div class="contactCard">
                        <img src="./assets/icons/location-fil.svg" alt="location" class="cardIcon">
                        <h1 class="mdHeading">Address</h1>
                        <a class="cardLink">17 Parkman Place, 2122 United States</a>
                    </div>
                </div>
                <div class="gridItem-3">
                    <div class="contactCard">
                        <img src="./assets/icons/time-fil.svg" alt="time" class="cardIcon">
                        <h1 class="mdHeading">Open Hours</h1>
                        <p class="cardLink">sun - thu: 9am - 3pm</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- aboutSupport Section -->
    <section class="aboutSupportSection">
        <div class="container-xl">
            <div class="gridContainer">
                <div class="gridItem-6">
                    <div class="aboutSuppportText">
                        <h1 class="mdHeading">Help and Support</h1>
                        <p class="mainText">Massa enim nec dui nunc mattis enim ut tellus. Auctor augue mauris augue
                            neque</p>
                        <img src="./assets/img/help-customer-support-1.png" alt="customer image"
                            class="aboutSupportCustomerImg">

                        <div class="supportLinkContent">
                            <a href="/user-main-component/faq" class="mdHeading flex gap-half"><img src="./assets/icons/faq-i-icon.svg"
                                    alt="fag"> FAQs</a>
                            <a href="https://wa.me/" target="_blank" class="mdHeading flex gap-half"><img src="./assets/icons/whatsapp-green.svg"
                                    alt="whatsapp"> Contact us on WhatsApp </a>
                            <a href="tel::" class="mdHeading flex gap-half"><img src="./assets/icons/call-black.svg"
                                    alt="call"> Contact us</a>
                        </div>
                    </div>
                </div>
                <div class="gridItem-6">
                    <div class="locationMapContainer">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d223.58692678004795!2d50.648530469249216!3d26.281427290124025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e49a7a7caa8b9fd%3A0xd04d862790b03a10!2sSama%20Bahrain%20Card!5e0!3m2!1sen!2sbh!4v1733133413770!5m2!1sen!2sbh"
                            width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>                            
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function toggleSideMenu() {
            let sideMenu = document.querySelector(".side-menu");
            let hambergerIcon = document.querySelector(".hamberger-icon");
            let closeIcon = document.querySelector(".close-icon");

            hambergerIcon.addEventListener("click", () => {
                sideMenu.classList.add("show");
            })
            closeIcon.addEventListener("click", () => {
                sideMenu.classList.remove("show");
            })
        }
        toggleSideMenu(); // sider menu toggle
    </script>
</body>

</html>