/* media query */
@media (max-width: 1600px) {
  .nav-link {
    font-size: 1em;
    padding: 0rem;
  }
  .nav-icon-btn {
    gap: 1rem;
  }
  .nav-icon {
    width: 1.2rem;
    height: auto;
  }
  .nav-link-icon {
    margin-left: 0rem;
  }
  .logo-chane {
    width: 2.2rem;
    height: auto;
  }
}

/* media query for 1200px */
@media (max-width: 1200px) {
  .top-header-right {
    display: none;
  }
  .top-header {
    justify-content: center;
  }
  .nav-list {
    display: none;
  }
  .brand-logo {
    width: 6.8rem;
    height: auto;
  }
  .navUserProfileContainer {
    display: none;
  }
  .hamberger-icon {
    display: block;
    width: 1.2rem;
    height: auto;
  }
  .nav-bar {
    padding: 1rem;
    row-gap: 0.4rem;
  }
  .notficationDropDown {
    right: -7.5rem;
    width: 330px;
    padding: 1.4rem 1rem;
    border-radius: 15px;
  }
  .notficationDropDown .mdHeading {
    font-size: 1.1rem;
  }
  .notification-wrpper {
    padding: 0.7rem 0.5rem;
  }
  .notification-wrpper .mdHeading {
    font-size: 0.9rem;
  }
  .notificationImage {
    width: 2.1rem;
  }
  .profilePicWrpaer {
    width: 2.1rem;
    height: 2.1rem;
  }
  .side-menu .nav-list {
    display: flex;
  }
  .side-menu .navUserProfileContainer {
    display: flex;
  }
  /* heroSection */
  .heroSection {
    padding-bottom: 10rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .heroSectionBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .heroSection .flex-col-5 {
    width: 100%;
  }
  .hero-heading {
    font-size: 3rem;
  }
  .hero-container {
    padding-left: 2rem;
  }
  .heroLinkContainer {
    flex-wrap: wrap;
  }
  .hero-link {
    font-size: 1.2rem;
  }
  .heroDot {
    width: 11px;
    height: 11px;
  }

  /* aboutSamaSection */
  .aboutSamaSection {
    padding: 4rem 0;
  }
  .aboutSamaSection .aboutSamaContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
  }
  .aboutSamaImg {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .aboutSamaContent .mdHeading {
    font-size: 2rem;
    line-height: 0.9;
    margin-bottom: 1rem;
  }
  .aboutSamaContent .mainText {
    font-size: 0.8rem;
  }
  .aboutSamaContent {
    padding-right: 0rem;
    justify-content: flex-start;
  }
  .aboutSamaBtns {
    flex-wrap: wrap;
    row-gap: 0.6rem;
  }

  /* ourMissionSection */
  .ourMissionSection {
    padding-top: 4px;
  }
  .ourMissionImgContainer {
    padding-bottom: 2rem;
  }
  .ourMissionImg {
    margin-top: 3rem;
  }

  /* ourMissionContentContainer */
  .ourMissionSection {
    padding-top: 3rem;
  }
  .ourMissionContentContainer {
    padding: 2rem 1rem;
  }
  .ourMissionTab {
    padding: 1.1rem;
  }
  .ourMissionTab .mdHeading {
    font-size: 2rem;
  }
  .ourMissionTab .mainText {
    font-size: 0.7rem;
  }

  .ourObjectiveImgContainer {
    padding: 1rem;
  }
  .ourObjectiveImgaeContainer2 {
    justify-content: center;
  }
  .ourObjectiveImg2,
  .ourObjectiveImg {
    width: 100%;
    height: auto;
  }
  .ourObjectiveContentContainer {
    padding: 2rem 0;
  }
  .ourObjectiveContentContainer .mdHeading {
    font-size: 2rem;
  }
  .ourObjectiveContentContainer .mainText {
    font-size: 0.8rem;
  }

  .aboutSuppportText .mdHeading {
    font-size: 2rem;
  }
  .aboutSuppportText .mainText {
    font-size: 0.9rem;
  }
  .supportLinkContent .mdHeading {
    font-size: 1rem;
  }
  .evaloyaterContainer .mdHeading {
    font-size: 2rem;
  }
}

@media (max-width: 775px) {
  .footerSection .grid-layout-2 .footerCol-lg {
    flex: 0 0 100%;
  }
  .footerSocialMediaContainer {
    flex-wrap: wrap;
    row-gap: 0.6rem;
  }
  .footerSocialMediaContainer .footerSocialMediaRight {
    flex-wrap: wrap;
    row-gap: 0.6rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footerCopyWrite .smText {
    font-size: 0.8rem;
  }
  .footerContactText .mdHeading {
    font-size: 1rem;
    margin-bottom: 0;
  }
  .footerContactText .smText {
    font-size: 0.7rem;
  }

  .fixLinkContainer {
    bottom: 1rem;
    right: 1rem;
  }
  .fixIcon {
    width: 1.8rem;
    height: auto;
  }
  .timeTableBtnWrpper {
    flex-wrap: wrap;
    row-gap: 0.6rem;
  }
  .otherServicesSection {
    padding: 5rem 0;
  }

  /* couponsCardItem */
  .couponsCardItem {
    padding: 2rem 1rem;
  }
  .couponsCardHeader {
    flex-wrap: wrap !important;
    row-gap: 0.3rem;
  }
  .couponsCardHeader .mdHeading {
    font-size: 1.8rem;
  }
  .couponsCardHeader .main-btn {
    font-size: 0.9rem;
  }
  .coupusownerItem .smHeading {
    font-size: 1.4rem;
  }
  .ownerCard {
    padding: 0rem 1rem;
  }
  .ownerCardText {
    padding: 1rem 1rem;
  }
  .ownerCardText .mdHeading {
    font-size: 1.1rem;
  }
  .ownerCardText .mainText {
    font-size: 0.78rem;
  }
  .cardBtn {
    padding: 0.2rem 1.4rem;
    font-size: 0.7rem;
  }
  .ownerCardBtnContainer {
    flex-wrap: wrap;
  }
  .cardDropDwon .mdHeading {
    font-size: 1.4rem;
  }
  .cardPageMemberShipSection {
    padding-top: 0;
  }
}

/* media query for 554px */
@media (max-width: 554px) {
  .productSearchInputContainer {
    gap: 0.6rem;
  }
  .productSearchInputContainer .main-btn {
    padding: 0.4rem 1.5rem;
  }
  .inputHolder {
    padding: 0.3rem 0.5rem;
  }
  .inputArea {
    font-size: 0.9rem;
  }
  .searchIcon {
    width: 1.9rem;
    height: auto;
  }
  .footerCol-lg {
    flex: 0 0 100%;
  }
  .productListingContainer .grid-layout-2 {
    margin: 0rem;
    justify-content: center;
  }
  .adoptionProfileTabContainer .productCard {
    padding: 0rem;
    padding-bottom: 1.5rem;
  }
  .adoptionProfileTabContainer .productCard .mdHeading {
    font-size: 1.1rem;
  }
  .adoptionProfileTabContainer .productCard .smText {
    font-size: 0.8rem;
  }
}

/* media query for  small mobile */
@media (max-width: 375px) {
  .nav-bar {
    padding: 1rem;
    flex-wrap: wrap;
  }
  .nav-right {
    width: 100%;
    justify-content: flex-end;
  }
  .notficationDropDown {
    width: 96vw;
    padding: 1.4rem 1rem;
    border-radius: 15px;
  }
  .productSearchInputSection {
    padding-top: 4rem;
  }
  .productSearchInputContainer {
    flex-wrap: wrap;
    row-gap: 0.6rem;
    justify-content: center;
  }
  .footerLinksCard,
  .footerCard {
    padding-right: 0rem;
  }
  .newsletterForm {
    width: 100%;
    flex-wrap: wrap;
    row-gap: 0.6rem;
  }
  .footerLinksCard {
    width: 100%;
  }
  .footerSection .grid-layout-2 .grid-col-3 {
    flex: 0 0 100%;
  }
}
