<!-- footer section -->
<footer class="footerSection">
    <div class="container-2xl">
        <div class="footerContainer">
            <div class="grid-layout-2">
                <div class="grid-col-3 footerCol-lg">
                    <div class="footerCard">
                        <img src="../assets/img/brand-logo-1.png" alt="logo" class="footerLogo">
                        <p class="mainText">Tristique nulla aliquet enim tortor at
                            auctor urna nunc. Massa enim nec dui
                            nunc mattis enim ut tellus. Sed ut
                            perspiciatis unde ...</p>

                        <div class="footerContactInfo flex gap-1">
                            <img src="../assets/icons/call-icon.svg" alt="call" class="footerContactIcon">
                            <div class="footerContactText">
                                <a href="tel:+97377690000" class="mdHeading">(973) 77690000</a>
                                <a href="#" class="smText">Got Questions? Call us 24/7</a>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="grid-col-3 footerCol-lg">
                    <div class="footerLinksCard">
                        <h3 class="mdHeading">Working Hours</h3>
                        <p class="smText">Sunday - Thursday: <span>9am – 4pm</span></p>
                        <p class="smText">Friday: <span class="closedText">closed</span></p>
                        <p class="smText">Saturday: <span class="closedText">closed</span></p>
                    </div>
                </div>
                <div class="grid-col-3">
                    <div class="footerLinksCard">
                        <h3 class="mdHeading">Quick Links</h3>
                        <ul class="footerLinksList">
                            <li class="footerLinksItem"><a href="#" class="smText">Home</a></li>
                            <li class="footerLinksItem"><a href="#" class="smText">About</a></li>
                            <li class="footerLinksItem"><a href="#" class="smText">Services</a></li>
                            <li class="footerLinksItem"><a href="#" class="smText">Sama store</a></li>
                            <li class="footerLinksItem"><a href="#" class="smText">Be a partner</a></li>
                            <li class="footerLinksItem"><a href="#" class="smText">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="grid-col-3">
                    <div class="footerLinksCard">
                        <h3 class="mdHeading">Newsletter</h3>
                        <p class="smText">Be first in the queue! Get our latest
                            news straight to your inbox.</p>
                        <form action="#" class="newsletterForm flex row-between gap-half">
                            <input type="email" placeholder="Enter" required class="newsletterInput flex-1">
                            <button class="footerNewsletterBtn" type="submit"><img
                                    src="../assets/icons/send-icon.svg" alt="send"
                                    class="footerNewsletterIcon"></button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- social media icons -->
            <div class="footerSocialMediaContainer flex row-between">
                <div class="footerSocialMediaLeft flex gap-1-5">
                    <a href="#" class="social-icon-link"><img src="../assets/icons/facebook-white-icon.svg" alt="facebook"
                            class="social-icon"></a>
                    <a href="#" class="social-icon-link"><img src="../assets/icons/instagram-white-icon.svg" alt="instagram"
                            class="social-icon"></a>
                    <a href="#" class="social-icon-link"><img src="../assets/icons/twitter-white-icon.svg" alt="twitter"
                            class="social-icon"></a>
                    <a href="#" class="social-icon-link"><img src="../assets/icons/whatsapp-white-icon.svg" alt="whatsapp"
                            class="social-icon"></a>
                </div>
                <div class="footerSocialMediaRight flex gap-2 row-end">
                    <a href="tel:+97337749339" class="social-icon-link flex gap-half"><img src="../assets/icons/call-white-icon.svg" alt="call"
                            class="social-icon">+973 - 37749339</a>
                    <a href="mailto:SamaPet.bh@gmail.com" class="social-icon-link flex gap-half"><img src="../assets/icons/email-white-icon.svg" alt="email"
                            class="social-icon">SamaPet.bh@gmail.com</a>
                </div>
            </div>

            <!-- footer copy Wirte -->
            <div class="footerCopyWrite">
                <p class="smText"> © Sama Pet Care All rights reserved Copyrights 2024</p>
            </div>
        </div>
    </div>
</footer>
