.dashboard-container {
  padding: 40px;
  background-color: #f7f8fa;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #333;
  text-align: center;
}

.search-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 10px;
}

.search-box {
  padding: 12px 20px;
  border-radius: 24px;
  border: 1px solid #ddd;
  width: 70%;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  font-size: 16px;
}

.add-admin-button {
  background-color: #6f00ff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 6px rgba(111, 0, 255, 0.3);
  transition: background-color 0.3s ease;
}

.add-user-button:hover {
  background-color: #5900cc;
}

.add-user-button i {
  margin-right: 8px;
}

.roles-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

th {
  text-align: left;
  padding: 12px 10px;
  background-color: #f0f0f0;
  font-weight: bold;
  color: #666;
  border-radius: 8px 8px 0 0;
}

td {
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

.email-input {
  border: none;
  background-color: #f7f8fa;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  font-size: 14px;
  color: #666;
}

.role-badge {
  padding: 6px 12px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  margin-right: 8px;
}

.role-badge.administrator {
  background-color: green;
}

.role-badge.financial {
  background-color: red;
}

.status-badge {
  padding: 6px 12px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 12px;
  color: white;
  display: inline-block;
}

.status-badge.active {
  background-color: #28a745;
}

.status-badge.inactive {
  background-color: #dc3545;
}

.action-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 8px;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #f0f0f0;
}

.action-button i {
  font-size: 18px;
  color: #6f00ff;
}