<link rel="stylesheet" href="global.css">
<link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
<app-navbar></app-navbar>
<div class="forgot-password-wrapper">
    <div class="forgot-password-container">
        <div class="content">
            <div class="header">
                <div id="back">
                    <button (click)="goBack()" id="back">
                        <svg width="31" height="28" viewBox="0 0 31 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.1111 25.666L2 13.9993M2 13.9993L13.1111 2.33268M2 13.9993L28.6667 13.9993"
                                stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <h2>Forgot Password</h2>
                </div>
                <h5>Reset your password by entering your registered email.</h5>
            </div>

            <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
                <div class="form-group">
                    <label for="email">Enter Your Email</label>
                    <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" required email />
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid"
                [ngClass]="{'btn-enabled': forgotPasswordForm.valid, 'btn-disabled': !forgotPasswordForm.valid}">
                    Send OTP
                </button>
            </form>

            <p *ngIf="message" class="message">{{ message }}</p>
        </div>
    </div>
</div>

<div class="icon-container">
    <div class="icons whatsapp">
        <img src="assets/whatsapp.svg">
    </div>
    <div class="icons arrow">
        <img src="assets/arrow-up.svg">
    </div>
</div>